.footer{
  background:#fff0d0;
  padding:50px 30px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
  border-top:1px solid #f1d28a;
}

.footer-box h2{
  color:#b91c1c;
}

.footer-box h3{
  color:#8b5e34;
}

.footer-box p{
  color:#6b4a2d;
  line-height:1.8;
}