.footer{
  background:#C89A63;
  color:#fff;
  padding:60px 8% 20px;
  margin-top:80px;
}

.footer-top{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:40px;
}

.footer h2,
.footer h3{
  color:#FFF4D6;
  margin-bottom:15px;
}

.footer p{
  color:#F8F8F8;
  line-height:1.8;
  margin:8px 0;
}

.footer-bottom{
  margin-top:40px;
  padding-top:20px;
  text-align:center;
  border-top:1px solid rgba(255,255,255,.25);
  background:#B5824D;
  padding-bottom:10px;
  font-size:15px;
}

@media(max-width:768px){

.footer-top{
grid-template-columns:1fr;
}

}